//==================== Colors ====================//
$colors: (
  primary: #daa33d,
  secondary: #fff,
  color-black: #000
);
//==================== Breakpoints ====================//
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 576px;
//==================== Background Images ====================//
$header_img: '/images/pctures/main_background.jpg';
$services_img: '/images/pctures/services_background.jpg';
$project_img: '/images/pctures/project_bg.jpg';
$experience_img: '/images/pctures/experience_bg.jpg';
$blog_img: '/images/pctures/blog_bg.jpg';
$footer_img: '/images/pctures/footer_top_bg.jpg';